body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/13/50/mountains-1852955_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    max-width: 100%;
    height: auto;
    margin: auto;
    
  }